body{
	text-align: center;
}

.container{
	display: inline-block;
}

.circle{
	height: 400px;
	width: 200px;
	/*background: #444;*/
	display: inline-block;
}

.circle-left{
	border-bottom-left-radius: 400px;
	border-top-left-radius: 400px;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	width: 200px;
	transition: margin-right .65s;
    background: #333;
}

.circle-right{
	border-bottom-right-radius: 400px;
	border-top-right-radius: 400px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	width: 200px;
	transition: margin-left .65s;
    background: #333;
}

.inner{
	height: 100%;
	border-radius: 50%;
	display: block;
}

.inner-left{
	background: #119DA4;
	float: right;
	width: 0px;
	margin-right:-0px;
	transition: margin-right .65s, width .65s;
}

.inner-right{
	background: #0C7489;
	float: left;
	width: 0px;
	margin-left:-0px;
	transition: margin-left .65s, width .65s;
}

/*animation triggers*/
.container:hover .circle-left{
    margin-right: 100px;
    /*animation: shift-outer-l 2s .8s;*/
}

.container:hover .circle-right{
    margin-left: 100px;
    /*animation: shift-outer-r 2s .8s;*/
}

.container:hover .inner-left{
    margin-right: -50px;
    width: 100px;
    /*animation: shift-inner-l 2s .8s;*/
}

.container:hover .inner-right{
    margin-left: -50px;
    width: 100px;
    /*animation: shift-inner-r 2s .8s;*/
}

/*.container:hover .circle{
	animation: shift-outer 2s .8s;
}*/

/*animations*/
@keyframes shift-outer-l{
    0%{
    	margin-right: 100px;
    }
    100%{
    	margin-right: 100px;
    }
}

@keyframes shift-outer-r{
    0%{
    	margin-left: 100px;
    	border-bottom-left-radius: 0px;
		border-top-left-radius: 0px;
		width: 200px;
    }
    50%{
        margin-left: 0px;
        width: 200px;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
    }
    100%{
    	margin-left: -400px;
    	border-bottom-left-radius: 400px;
		border-top-left-radius: 400px;
		width: 400px;
    }
}

@keyframes shift-inner-l{
    0%{
        margin-right: -50px;
    	width: 100px;
    }
    100%{
        margin-right: -100px;
    	width: 400px;
    }
}

@keyframes shift-inner-r{
    0%{
    	margin-left: -50px;
    	width: 100px;
    }
    50%{
        margin-left: 0px;
        width: 0px;
    }
    100%{
    	margin-left: -50px;
    	width: 0px;
    }
}