*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body,
html {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: '宋体', Arial, sans-serif;
	color: #777;
	font-size: 16px;
	line-height: 1.6;
}

a {
	color: #539f10;
	text-decoration: none;
}

a:hover,
a:active {
	color: #111;
}

h1.site-title a {
	color: #555;
}

h2 {
	font-family: 'Bitter', Georgia, serif;
	font-size: 18px;
	font-weight: 900;
	color: #222;
	margin: 0px;
	line-height: 1.2;
	margin-bottom: 0px;
}

.aboutus-logo{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
}

.aboutus-logo img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.aboutus-logo video{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#logo-video{
	z-index: 10;
}

#img-logo{
	z-index: 15;
}
#smallBG{
	z-index: 2;
}

#bigBG{
	z-index: 5;
}

#logo{
	position: absolute;
	width: 100%;
}

#logo img{
	width: 50%;
	margin: 25% 25%;
	vertical-align: middle;
	display: none;
}

.pesu{
	width: 100%;
	display: block;
}

.topnav {
	overflow: hidden;
	margin-right: 10%;
	margin-left: 10%;
	width: 80%;
	border-bottom: 2px solid #ddd;
	z-index: 100;
}

.topnav a {
	float: left;
	color: #a7a3a3;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: #4CAF50;
	color: white;
}

.topnav-right {
	margin-right: 10%;
	float: right;
}

.topnav-aboutus{
	position: absolute;
	right: 10%;
	left:10%;
	top: 0;
	overflow: hidden;
	width: 80%;
	z-index: 100;
}

.topnav-aboutus a {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav-aboutus a:hover {
	background-color: #ddd;
	color: black;
}

.topnav-aboutus a.active {
	background-color: #4CAF50;
	color: white;
}

.container-products {
	width: 70%;
	margin: 200px auto 50px;
}


@media (min-width: 900px) {
	.container {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.container-aboutus {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}

@media (min-width: 600px) and (max-width: 900px) {
	.container {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.container-aboutus {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		/* grid-template-columns: repeat(auto-fill, minmax(100px, 350px)); */
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
}

@media (max-width: 600px) {
	.container {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		/* grid-template-columns: repeat(auto-fill, minmax(300px, 500px)); */
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}

	.container-aboutus {
		display: grid;
		grid-gap: 20px;
		width: 70%;
		margin: 50px auto 50px;
		/* grid-template-columns: repeat(auto-fill, minmax(100px, 350px)); */
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
}



.container-aboutus .post{
	justify-self: center;
}

.container-parterners {
	width: 70%;
	margin: 50px auto 50px;
	text-align: center;
}

.container-parterners span{
	color: #111;
	font-weight: bold;
	font-size: 20px;
}

header.top {
	display: block;
	margin-bottom: 50px;
	margin-left: 15%;
	margin-top: 100px;
}

header h1 {
	font-size: 40px;
	text-align: left;
	font-weight: bold;
	margin: 0px 0px;
	color: #111;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
}

header.top-header-aboutus {
	display: block;
	margin-bottom: 50px;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 100px;
	text-align: center;
}

header.top-header-aboutus h1{
	text-align: center;
	color: #111;
}

#parterners-image{
	width: 100%;
	align-self: center;
}

.top ul {
	margin: 0px;
	text-align: center;
	padding: 0px;
	margin-bottom: 30px;
}

.top ul li {
	display: inline;
	list-style: none;
	margin: 0px 20px;
}

@media (min-width: 600px){
	.post-products{
		display: grid;
		width: 100%;
		margin-bottom: 80px;
		text-align: center;
		grid-gap: 8%;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}
	
	.post-products .thumbnail {
		width: 100%;
		vertical-align: top;
		display: inline-block;
	}
	
	.post-products .contents {
		width: 100%;
		height: 100%;
		vertical-align:middle;
		text-align: left;
		padding-top: 15%;
		display: inline-block;
	}
}

@media (max-width: 600px){
	.post-products{
		display: grid;
		width: 100%;
		margin-bottom: 80px;
		text-align: center;
		grid-gap: 5%;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
	}
	
	.post-products .thumbnail {
		width: 100%;
		vertical-align: top;
		display: inline-block;
	}
	
	.post-products .contents {
		width: 100%;
		height: 100%;
		vertical-align:middle;
		text-align: left;
		padding-top: 5%;
		display: inline-block;
		font-size: 14px;
	}
}



.post {
	margin-bottom: 80px;
	text-align: center;
}

.post .thumbnail {
	width: 100%;
}

.post .contents {
	text-align: left;
}

.hidden {
	opacity: 0;
	transform: scale(0.1);
}

.visible {
	opacity: 1;
	transform: scale(1);
}